body {
    margin: 0;
    background-color: gray;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#carCanvas {
    background-color: #333;
}
#neuralNetworkCanvas{
    background-color: black;
}

.MESSAGE {
    position: absolute;
    display: flex;
    top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    background-color: black;
    padding: 10px;
    border: 2px solid white;
    border-radius: 8px;
}

.hidden {
    display: none !important;
}